:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
    --square-size: 8rem;
    --text-color: #0A0908;
    --background-color: #508484;
    --piece-color: #588E89;
    --highlight-color: #8AD0AB;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

#title {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#title > * {
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1rem;
    font-weight: 300;
}

#prompt-bar {
    height: 4rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
}

#board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem 1rem;
    background-color: var(--text-color);
}

.square {
    display: flex;
    min-width: var(--square-size);
    min-height: var(--square-size);
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 700;
    color: var(--piece-color);
    text-shadow: -1px 1px 0px var(--highlight-color), 
    1px 1px 0px var(--highlight-color),
    1px -1px 0px var(--highlight-color),
    -1px -1px 0px var(--highlight-color);
}

.square:not(.invalid):hover {
    background-color: var(--highlight-color);
}

.square:not(.invalid):active {
    border: 0.125rem inset var(--background-color);
}

#new-game-button {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 3rem;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    border: 0.4rem solid var(--text-color);
    background-color: var(--piece-color);
    box-shadow: 3px 3px 1px var(--text-color);
}

#new-game-button:hover {
    background-color: var(--highlight-color);
}

#new-game-button:active {
    background-color: var(--piece-color);
    box-shadow: 0 0 0;
}